
@import "compass/reset";

@font-face {
  font-family: "headings";
  font-style: normal;
  font-size: 55px;
  font-weight: 500;
  src: url('../fonts/Ogg-Regular.otf');
}

@font-face {
  font-family: "halloweed";
  font-style: normal;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  src: url('../fonts/CircularStd-Black.ttf');
}

@font-face {
  font-family: "paragraph";
  font-weight: 300;
  src: url('../fonts/BananaGrotesk-Regular.otf');
}

//type check with dan


*, ::before, ::after {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
  width: 100%;
}

html, body, {
  font-family: 'paragraph';
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: rgb(251,159,141);
  background: linear-gradient(0deg, rgba(251,159,141,1) 0%, rgba(255,255,255,1) 48%, rgba(184,189,255,1) 100%);
  margin: 0;
  font-family: "paragraph", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  text-align: left;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  box-sizing: border-box;
  h1 {
    font-family: 'headings';

  }
   a {
     color: var(--body-color);
   }
}


:root {
  --body-color: #345C19;
  --body-light-color: #6CAD67;
  --gray-light-color: #FDF0EC;
  --gray-color: #E1E4ED;
  --primary-color: #B8BDFF;
  --success-color: #41D9A6;
}

.btn:focus {
  box-shadow: none!important;
  
}

.dropdown-toggle::after {
  display: none;
}

// Page layout

.sativa-headings {
  font-size: 55px;
  border-bottom: 1px solid var(--body-color);
  .follow-btn {
    display: none;
  }
  @media (max-width: 576px) {
    .follow-btn {
      display: inline;
    } 
  }
}


.follow-btn {
    width: 230px;
    height: 49px;
    left: 110px;
    top: 48px;
    border: 1px solid var(--body-color);
    box-sizing: border-box;
    color: #345c19;
    border-radius: 8px;
  :hover {
    color: #E1E4ED;
    border: 1px solid var(--success-color);
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.btn-outline-primary:hover {
    background-color: transparent;
    color: var(--body-light-color);
    border: 1px solid var(--body-light-color);
}

.sativa-header {
  display: inline-flex;
  padding: 20px 0px;
  background: rgb(184,189,255);
  background: linear-gradient(0deg, rgba(184,189,255,1) 0%, rgba(184,189,255,1) 100%);
  .header-block {
    flex: 1;
    align-self: center;
    align-content: center;
  }
  @media (max-width: 576px) {
    a {
      display: none;
    }
  }
}

.jumbotron {
  margin: 0px;
  height: 80vh;
  background-image: url(http://danielpliego.com/sativa/web/jumbo-sativa.png);
  background: rgb(165,213,166);
  background: linear-gradient(0deg, rgba(165,213,166,1) 0%, rgba(255,255,255,1) 44%, rgba(184,189,255,1) 100%);
  @media (max-width: 768px) {
    height: 40vh;
  }
  @media (max-width: 576px) {
    height: 50vh;
  }
}

.sativa-headings {
  h1 {
    font-size: 80px;
    line-height: 83px;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 50px;
      line-height: 53px;
    } 
    p {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 33px;
      line-height: 30px;
    }
  }
}

.us-section {
  h1 {
    font-size: 47px;
    line-height: 50px;
  }
  ul.circle {
    list-style-type: circle;
  }
  background: rgb(184,189,255);
  background: linear-gradient(0deg, rgba(184,189,255,1) 0%, rgba(255,255,255,1) 48%, rgba(165,213,166,1) 100%);
  position: relative;
  padding: 80px 0px;
  height: 100vh;
  .follow-block {
    padding: 15px;
    position: absolute;
    display: inline-flex;
    bottom: 50px;
    border-top: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
    p {
      width: 280px;
    }
    @media (max-width: 576px) {
      p {
        width: auto;
        font-size: 14px;
      }
      max-width: 285px;
    }
  }
  @media (max-width: 768px) { 
    
    height: 50vh;
    h1 {
      font-size: 30px;
      line-height: 33px;
    }
    ul {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    padding: 60px 0px;
    height: 100vh;
    h1 {
      font-size: 20px;
      line-height: 23px;
    }
    ul {
      margin-left: 15px;
    }
  }
}

.animated-banner {
  padding: 60px 0px;
  background-color: var(--gray-light-color);
  font-family: 'halloweed';
  .animation-track {
    padding: .35em;
  }
}
.promo-img {
  .col-6 {
    padding: 0;
  }
  background-color: white;
}
.sativa-mision {
  padding: 80px 0px;
  h1 {
    font-size: 47px;
    line-height: 50px;
  }
  @media (max-width: 768px){ 
    height: 30vh;
    h1 {
      font-size: 30px;
      line-height: 33px;
    }
    p {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    height: initial;
  }
}

.bottom-banner {
  h2 {
    font-family: 'headings';
    font-size: 37px;
    line-height: 40px;
  }
  padding: 80px 0px;
  background: rgb(251,159,141);
  background: linear-gradient(180deg, rgba(251,159,141,1) 0%, rgba(255,255,255,1) 44%, rgba(184,189,255,1) 100%);
}
.sativa-foot {
  padding: 80px 0px;
  background: var(--gray-light-color);
  .social a{
    display: block;
  }
}