
@import "compass/reset";

@font-face {
  font-family: "headings";
  font-style: normal;
  font-size: 55px;
  font-weight: 500;
  src: url('../fonts/Ogg-Roman.woff');
}

@font-face {
  font-family: "halloweed";
  font-style: normal;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  src: url('../fonts/CircularStd-Black.ttf');
}

@font-face {
  font-family: "paragraph";
  font-weight: 300;
  src: url('../fonts/BananaGrotesk-Regular.otf');
}

//type check with dan


*, ::before, ::after {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
  width: 100%;
}

html, body, {
  font-family: 'paragraph';
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
  background: rgb(251,159,141);
  background: linear-gradient(0deg, rgba(251,159,141,1) 0%, rgba(255,255,255,1) 48%, rgba(184,189,255,1) 100%);
  margin: 0;
  font-family: "paragraph", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  text-align: left;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  box-sizing: border-box;
  h1 {
    font-family: 'headings';

  }
   a {
     color: var(--body-color);
   }
}


:root {
  --body-color: #345C19;
  --body-light-color: #6CAD67;
  --gray-light-color: #FDF0EC;
  --gray-color: #E1E4ED;
  --primary-color: #B8BDFF;
  --success-color: #41D9A6;
}

.btn:focus {
  box-shadow: none!important;
  
}

.dropdown-toggle::after {
  display: none;
}

a, button {
  transition: all 0.15s ease-in-out;
}

// Page layout

.sativa-header-container {
  position: sticky;
  top: 0;
  background: linear-gradient(0deg, rgba(184,189,255,0) 0%, rgba(184,189,255,1) 95%);
  z-index: 0;

  .sativa-header {
    display: flex;
    padding: 20px 0px;

    .header-block {
      flex: 1;
      align-self: center;
      align-content: center;
    }
    
  }
}

.hero {
  background-image: linear-gradient(0deg, rgba(165,213,166,1) 0%, rgba(255,255,255,1) 44%, rgba(184,189,255,1) 100%);
  background-size: contain;
  background-position: bottom right; 
  background-repeat: no-repeat;
  margin: 0px;

  .logo {
    display: block;

    &:hover {
      transform: translate(0px, -2px);
    }
  }

  .hero-content {
    padding: 10vh 0 15vh;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--body-color);

    .sun-icon {
      position: absolute;
      margin-top: 2px;
      left: 15px;
      @media (max-width: 768px) {
        width: 60px;
        margin-top: -8px;
      }
      @media (max-width: 576px) {
        width: 50px;
        margin-top: -19px;
      }
    }

    h1 {
      text-indent: 5rem;
      @media (max-width: 576px) {
        text-indent: 3rem;
      }
    }
     
    .hero-image {
      position: absolute;
      top: 0;
      right: -7vw;
      max-width: 100%;
      height: auto;
      @media (max-width: 768px) {
        width: 300px;
      }
      @media (max-width: 576px) {
        top: 200px;
        width: 160px;
        
      }
    }
  }
}

.sativa-headings {
  font-size: 50px;

  .follow-btn {
    display: none;
  }
  
  h1 {
    font-size: 70px;
    line-height: 1.2;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 50px;
      line-height: 53px;
    } 
    p {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    .follow-btn {
      display: inline;
    } 
    h1 {
      font-size: 33px;
      line-height: 30px;
    }
  }
}

.us-section {
  background-image: linear-gradient(0deg, rgba(184,189,255,1) 0%, rgba(255,255,255,1) 48%, rgba(165,213,166,1) 100%);
  background-repeat: no-repeat;
  background-position: bottom right; 
  background-size: contain;
  .us-content {
    height: 100vh;
    padding: 10vh 0 15vh;
    position: relative;
    overflow: hidden;
    @media (max-width: 576px) {
      height: 70vh;
    }
    h1 {
      font-size: 37px;
      line-height: 40px;
    }
    ul.circle {
      list-style-type: circle;
    }
    .us-image {
      position: absolute;
      left: 50%;
      bottom: 0;
      max-width: 100%;
      height: auto;
      @media (min-width: 768px) {
        left: 64%;
        max-width: 270px;
      }
      @media (max-width: 576px) {
        bottom: 15%;
        left: unset;
      }
    }
    .follow-block {
      padding: 15px;
      position: absolute;
      display: inline-flex;
      bottom: 50px;
      border-top: 1px solid var(--body-color);
      border-bottom: 1px solid var(--body-color);
      p {
        width: 280px;
      }
      @media (max-width: 576px) {
        p {
          width: auto;
          font-size: 14px;
        }
        display: block;
        text-align: center;
        width: 100%;
        z-index: 1;
        background-color: var(--gray-color,0.3);
      }
    }
    @media (max-width: 768px) { 
    
      height: 50vh;
      h1 {
        font-size: 30px;
        line-height: 33px;
      }
      ul {
        font-size: 14px;
      }
    }
    @media (max-width: 576px) {
      padding: 60px 0px;
      height: 100vh;
      h1 {
        font-size: 20px;
        line-height: 23px;
      }
      ul {
        margin-left: 15px;
      }
    }
  }
}
.promo-img {
  img {
    vertical-align: bottom;
  }
}
//name animated to make later an animated version
.animated-banner {
  .halloweed-promo {
    vertical-align: bottom;
  }
}
.sativa-mision {
  padding: 80px 0px;
  h1 {
    font-size: 47px;
    line-height: 50px;
  }
  @media (max-width: 768px){ 
    padding: 50px 0px;
    h1 {
      font-size: 30px;
      line-height: 33px;
    }
    p {
      font-size: 14px;
    }
  }
  @media (max-width: 576px) {
    height: initial;
  }
}

.bottom-banner {
  h2 {
    font-family: 'headings';
    font-size: 37px;
    line-height: 40px;
  }
  padding: 80px 0px;
  background: rgb(251,159,141);
  background: linear-gradient(180deg, rgba(251,159,141,1) 0%, rgba(255,255,255,1) 44%, rgba(184,189,255,1) 100%);
}
.sativa-foot {
  padding: 80px 0px;
  background: var(--gray-light-color);
  .social a{
    display: block;
  }
  @media (max-width: 576px) {
    text-align: center;
  }
}


.follow-btn {
  width: 230px;
  height: 49px;
  left: 110px;
  top: 48px;
  border: 1px solid var(--body-color);
  box-sizing: border-box;
  color: #345c19;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  :hover {
    color: #E1E4ED;
    border: 1px solid var(--success-color);
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.btn-outline-primary {
  color: var(--body-color);
  border-color: var(--body-color);
&:hover {
    background-color: var(--primary-color);
    color: var(--body-color);
    border: 1px solid var(--body-color);
  }
  &:active {
    background-color: var(--primary-color)!important;
  }
}


///helpernoob
.bold {
  font-weight: bold;
}